@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  background-color: #FFFFFF !important;
}

a {
  font-family: Anton, sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: inherit !important;
}

h1 {
  color: #FFFFFF;
  text-shadow: 6px 6px 6px #000000;
}

h2 {
  color: #0C6170;
  font-family: Anton, sans-serif;
}

nav .container-fluid {
  background-color: #A4E5E0;
}
nav img {
  width: 50px;
  height: 50px;
}
nav span {
  margin: 0 5px !important;
  color: #0C6170;
  font-family: Anton, sans-serif;
}

#jumbotron {
  height: calc(100vh - 76px);
  position: relative;
  display: flex;
  background-color: #0C6170;
  background-image: url("../assets/images/wave.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#jumbotron .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(55, 190, 176, 0.3);
  display: flex;
}
#jumbotron .overlay .container {
  align-self: flex-end;
  margin-bottom: 15vh;
}
#jumbotron p {
  text-shadow: 6px 6px 6px #000000;
}

#content .card-title {
  color: #0C6170;
  font-family: Anton, sans-serif;
}
#content a {
  color: #0C6170 !important;
}
#content .btn {
  background-color: #FFFFFF !important;
  text-decoration: none !important;
  box-shadow: none !important;
  border: 2px solid #0C6170;
}
#content .btn:active, #content .btn:visited {
  box-shadow: none !important;
}

.box {
  width: 140px;
  height: 140px;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boxTwo .box {
  width: 150px;
  height: 150px;
}

.background {
  background-image: url("../assets/images/shape.png");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}

.hdAndText {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.multyBox {
  display: flex;
  justify-content: center;
}
.multyBox .expBox.boxOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.multyBox .expBox.boxTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div:first-child {
  background-color: #37BEB0;
}
footer div:last-child {
  background-color: #0C6170;
}

@media (max-height: 300px) {
  .overlay .container {
    margin-bottom: 5vh;
  }
  .overlay .container p {
    display: none !important;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .box {
    width: 110px;
    height: 110px;
  }
  .boxTwo .box {
    width: 120px;
    height: 120px;
  }
  .background {
    background-size: 100%;
  }
}
@media (min-width: 576.1px) and (max-width: 768px) {
  .background {
    background-size: 50%;
  }
}
@media (min-width: 768.1px) and (max-width: 992px) {
  .background {
    background-size: 50%;
  }
}
@media (min-width: 992.1px) and (max-width: 1200px) {
  .background {
    background-size: 60%;
  }
}
@media (min-width: 1200.1px) and (max-width: 1400px) {
  .background {
    background-size: 70%;
  }
}
@media (min-width: 1400.1px) {
  .background {
    background-size: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
